{% extends "base.html" %} {% load static %} {% block homeactive %} active {% endblock homeactive %} {% block title %} Juwana Zerman - Home {% endblock title %} {% block content %}
<!-- Hero Section -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome To My Page!</h1>
                <h1>Glad You Stopped By!</h1>
                <br />
                <!-- Inspirational Quote - Want to add an API to make it change -->
                <p style="font-family:fantasy 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 25px;"><strong>“You will never plough a field if you only turn it over in your mind.”<br />
                    Irish Proverb</strong></p>
            </div>
            <br />

            <div class="col img-col">
                <img src="https://i.imgur.com/2KSQfA7.jpg" class="img-fluid" alt="Software Development">
            </div>
        </div>
        <br />

        <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 5em;font-size: 50px;" id="my-skills">Skills</h1>

        <div id="services" class="row cards">

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/CQL0EzR.png" class="icon" style="width: 10rem; height: 10rem" alt="Service One" />
                        <h5 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 24px;" class="card-title">Software Development</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/M3ijAZ7.png" class="icon" style="width: 10rem; height: 10rem" alt="Service Two" />
                        <h5 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;font-size: 24px;"class="card-title">Cloud Computing</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div id="serviceCards" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="https://i.imgur.com/zzNNMiW.png" class="icon" style="width: 10rem; height: 10rem" alt="Service Three" />
                        <h5 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;font-size: 24px;"class="card-title">DevOps</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Hero section -->
<br />
<br />
<!-- About us section -->
<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img id="about-me" src="https://i.imgur.com/9G5agB7.jpg" class="rounded-circle img-fluid"
                    style=" width: 20rem; height: 20rem" alt="About Us">
            </div>
            <div class="col text-col">
                <h1 >About Me</h1>
                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 5em;font-size: 20px ; font-style: bold;" class="body-text">
                    After spending 5 years in the finance world I decided to take a break to become a caregiver. As I prepared to re-enter the workforce, I came up with a game plan to pursue a career in technology.
                    <br>
                    <br>
                    My passion for creating led me down the path of Front-End Web Development.
                    While participating in various online training programs to learn web development, I acquired the skills to complete various front-end and full-stack projects. In doing this training, I was also led down the path of Cloud technology and Devops. Realizing that this was going to be a much needed skill going forward into my new career path, I obtained skills in all major cloud Platforms. On this journey I have built projects and obtained certifications on the AWS and Azure platforms.
                    <br>
                    </p>

                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 5em;font-size: 20px ; font-style: bold;" class="body-text">
                    I'm currently honing my Python skills, building projects, and pursuing Cloud certifications.
                    I currently hold the Azure Fundamentals (AZ-900),  Azure Data Fundamentals (DP-900),  <strong>Microsoft
                    Azure Administrator - Associate (AZ-104)</strong>,  AWS Certified Cloud Practitioner,  and the <strong>AWS Solutions Architect - Associate</strong> certifications.
                    I was awarded training for the Google IT Automation with Python professional certificate on Coursera from the Blacks in Technology Foundation and selected for Google's ACE Jumpstart Program to obtain the GCP Associate Cloud Engineer certification. <i>Time Start Building on GCP!</i></p>

                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 5em;font-size: 20px ; font-style: bold;" class="body-text">My passion for  creativity, problem solving, and learning new tools to enhance my development skills, is a driving factor in my life. But when the opportunity arises, I enjoy time on the beach feeling the breeze and listening to the waves.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About us section -->
<br>
<!-- Projects section -->
<section id="projects">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1 id="my-projects">My Projects</h1>
            </div>
        </div>

        <h4>Azure</h4>
        <br />
        <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-auto mb-3">
                <div class="card" style="width: 22rem;">
                    <img src="https://i.imgur.com/JJbjesw.png" class="card-img-top" style="height: 250px;" alt="Fake Rest API">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title">Ensuring Quality Releases</h5>
                        <p class="card-text">In this project I created a VM using Terraform and deployed a Fake Rest API App to Azure AppService. I then tested the environments and ran automated tests in an Azure DevOps pipeline. </p>
                        <p class="card-text"><small class="text-muted">Python, Terraform, Azure App Service, Azure DevOps, Azure CLI, Jmeter, Postman, Selenium, Azure Log Analytics, Git and GitHub</small></p>
                        <a href="https://github.com/Juwana-Zerman/Azure-Devops-Project3" target="_blank"><button type="button" class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>


            <div class="col-auto mb-3">
                <div class="card" style="width: 22rem;">
                    <img src="https://i.imgur.com/K5WZjny.jpg" class="card-img-top" style="height: 250px;"
                        alt="Azure WebApp">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title">CI/CD With Azure Pipelines</h5>
                        <p class="card-text">This project used GitHub Actions for continuous integration to lint, test, and install packages in a Flask app made a prediction. I used continuous delivery in Azure Pipelines to deploy the project to Azure
                            App Service.</p>
                        <p class="card-text"><small class="text-muted">Python, Flask, Azure Pipelines, GitHub
                                Actions, Locust, Azure App Service, Azure Cloud Shell, Trello, Agile Methodology</small>
                        </p>
                        <a href="https://github.com/Juwana-Zerman/azure-pipeline-project2" target="_blank"><button
                                type="button"
                                class="btn btn-secondary">Project Link</button></a>
                    </div>
                </div>
            </div>

                <div class="col-auto mb-3">
                    <div class="card" style="width: 22rem;">
                        <img src="https://i.imgur.com/2CQ1AoW.jpg" class="card-img-top" style="height: 250px;"
                            alt="Azure IaaS">
                        <div class="card-body">
                            <h5 class="card-title">Deploy a Scalable Iaas Web Server in Azure</h5>
                            <p class="card-text">This project consisted of creating Packer and Terraform templates to deploy a customizable, scalable web server in Azure.</p>
                            <p class="card-text"><small class="text-muted">Azure VM, Packer, Terraform, Azure CLI </small></p>
                            <a href="https://github.com/Juwana-Zerman/Azure-DevOps-Nanodegree-P1"
                                target="_blank"><button type="button"
                                class="btn btn-secondary">Project Link</button></a>
                        </div>
                    </div>
                </div>

                <!-- Placeholder for future project -->
                <div class="col-auto mb-3">
                    <div class="card" style="width: 22rem;">
                    <!-- <img src="./assets/projects/project4.jpg" class="card-img-top" alt="..."> -->
                    <!-- <div class="card-body"> -->
                    <!-- <h5 class="card-title">Give Me A Ride</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Google Api, Golang, Swift</small></p> -->
                        </div>
                </div>
            </div>
        </div>
        </div>
        <br>
        <br />
        <div class="container">
            <div class="row align-items-center projects">
                <div class="col">
                    <h4>AWS</h4>
                    <br>
                </div>
            </div>
            <div class="container-fluid mt-4">
            <div class="row justify-content-center">
                <div class="col-auto mb-3">
                    <div class="card" style="width: 22rem;">
                        <img src="https://i.imgur.com/3OdYuMC.png" class="card-img-top" style="height: 250px;"
                            alt="AWS Connect Vanity">
                        <div class="card-body">
                            <h5 class="card-title">AWS Connect Vanity</h5>
                            <p class="card-text">In this project I created a Lambda that converted a
                                caller's phone number to vanity numbers when they phoned into an Amazon Connect Contact
                                Center. The best 5 vanity numbers along with the caller's number
                                will be saved in a DynamoDB table. An Amazon Connect contact flow will be created that
                                repeats the caller's phone number and vanity possibilities that the Lambda function returns.</p>
                            <p class="card-text"><small class="text-muted">Python, Docker, Git and GitHub, Amazon
                                    Connect, AWS Lambda, DynamoDB, SAM CLI</small></p>
                            <a href="https://github.com/Juwana-Zerman/aws-connect-vanity" target="_blank"><button
                                    type="button" class="btn btn-secondary">Project Link</button></a>
                            </div>
                            </div>
                            </div>


            <div class="col-auto mb-3">
                    <div class="card" style="width: 22rem;">
                        <img src="https://i.imgur.com/JoxgE94.png" class="card-img-top" style="height: 250px;" alt="CircleCI Devops">
                        <div class="card-body">
                            <h5 class="card-title">AWS Cloud Devops Project</h5>
                            <p class="card-text">In this project I deployed a Python Flask app using a pre-trained <strong>sklearn</strong> model that serves out predictions about housing prices through API calls. This project was created using an AWS Cloud9 environment with
                                an EC2 instance running Ubuntu Linux 18.04. Docker was used to containerize the application. A container was deployed using Kubernetes and CircleCI was used to test the build.</p>
                            <p class="card-text"><small class="text-muted">Python, Docker, Flask, Kubernetes, Git and GitHub, CircleCI, Minikube, AWS Cloud 9, Ubuntu</small></p></small>
                            </p>
                            <a href="https://github.com/Juwana-Zerman/devops-project-udacity" target="_blank"><button
                                    type="button" class="btn btn-secondary">Project Link</button></a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 22rem;">
                            <img src="https://i.imgur.com/7utwnpb.png" class="card-img-top" style="height: 250px;" alt="AWS IaaS">
                            <div class="card-body">
                                <h5 class="card-title">AWS Infrastructure as Code</h5>
                                <p class="card-text">In this project I deployed an autoscaling app to AWS using CloudFormation. The purpose of the project was to deploy infrastructure as code to AWS.
                                </p>
                                <p class="card-text"><small class="text-muted">Git and Github, JSON, YAML, CloudFormation, Bash, Lucid Chart, AWS, VSCode</small></p>
                                <a href="https://github.com/Juwana-Zerman/Infrastructure-as-Code-project2"                   target="_blank"><button type="button" class="btn btn-secondary">Project Link</button></a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 22rem;">
                            <img src="https://i.imgur.com/D6lwf3U.png" class="card-img-top" style="height: 250px;" alt="Jenkins Pipeline">
                            <div class="card-body">
                                <h5 class="card-title">Jenkins Pipeline on AWS</h5>
                                <p class="card-text">This project created a Jenkins Pipeline and deployed a static website to AWS S3. The purpose of this project was to practice using the Jenkins Pipeline with AWS.</p>
                                <p class="card-text"><small class="text-muted">AWS S3, EC2, VPC, IAM, Jenkins, Blue Ocean, HTML, Git and GitHub </small></p>
                                <a href="https://github.com/Juwana-Zerman/static" target="_blank"><button type="button"
                                        class="btn btn-secondary">Project Link</button></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
<!-- End Projects section -->
<br> {% endblock %}